@import 'tailwindcss';
@import 'tw-animate-css';
@import 'overlayscrollbars/overlayscrollbars.css';

@theme {
  --font-press_start: var(--font-press_start);
  --font-bebas_neue: var(--font-bebas_neue);
  --font-noto_sans: var(--font-noto_sans);
  --font-jetbrains_mono: var(--font-jetbrains_mono);

  --color-base-black: rgba(41, 41, 41, 1);
  --color-base-white: rgba(255, 255, 255, 1);
  --color-primary: rgba(254, 197, 50, 1);
  --color-base-text: #e4e4e7;
  --color-base-dark: #292929;
  --color-neutral-white: rgba(228, 228, 231, 1);
  --color-bg-content: #0000004f;
  --color-border-destructive: #4b4d5a;

  --shadow-custom: 0px 0px 4px white;
  --breakpoint-md: 1024px;
}

.email_bg {
  background: linear-gradient(.25turn, #FEC532 50%, rgba(152, 118, 30, 0));
}

@keyframes navShadowAppear {
  0% {
    box-shadow:
      0 0 0 0 rgba(0, 0, 0, 0),
      0 0 0 0 rgba(0, 0, 0, 0),
      0 0 0 0 rgba(255, 255, 255, 0);
  }

  100% {
    box-shadow:
      0 0 10px 10px rgba(0, 0, 0, 0.2),
      0 0 20px 24px rgba(0, 0, 0, 0.3),
      0 0 110px 50px rgba(255, 255, 255, 0.1);
  }
}

.nav_shadow {
  box-shadow:
    0 0 0 0 rgba(0, 0, 0, 0),
    0 0 0 0 rgba(0, 0, 0, 0),
    0 0 0 0 rgba(255, 255, 255, 0);
}

.nav_shadow[data-state='open'] {
  animation: navShadowAppear 0.2s ease-in-out 200ms forwards;
}

[data-slot='sheet-content'].nav_shadow[data-state='open'] {
  animation:
    slideInFromRight 300ms ease-in-out forwards,
    navShadowAppear 0.2s ease-in-out 200ms forwards;
}

[data-lexical-text-state-highlight='yellow'] {
  color: var(--color-primary) !important;
}

/* Підтримка prefers-reduced-motion */
@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:focus-visible {
  outline-color: var(--color-primary);
  outline-width: 2px;
  outline-offset: -2px;
}

[data-slot='sheet-content']:not([data-state]),
[data-slot='sheet-content'][data-state=''] {
  transform: translateX(100%);
  opacity: 0;
}

[data-slot='sheet-content'][data-state='open'] {
  animation:
    slideInFromRight 300ms ease-in-out forwards,
    navShadowAppear 0.2s ease-in-out 200ms forwards;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Градієнт прозорості для developments_wrapper */
.developments_wrapper_mask {
  mask-image: linear-gradient(to right,
      rgba(0, 0, 0, 0) 0px,
      rgba(0, 0, 0, 1) 10px,
      rgba(0, 0, 0, 1) calc(100% - 10px),
      rgba(0, 0, 0, 0) 100%);
  -webkit-mask-image: linear-gradient(to right,
      rgba(0, 0, 0, 0) 0px,
      rgba(0, 0, 0, 1) 10px,
      rgba(0, 0, 0, 1) calc(100% - 10px),
      rgba(0, 0, 0, 0) 100%);
}

.content_wrapper_mask div[data-overlayscrollbars-contents] {
  mask-image: linear-gradient(to top,
      rgba(0, 0, 0, 0) 0px,
      rgba(0, 0, 0, 1) 8px,
      rgba(0, 0, 0, 1) calc(100% - 8px),
      rgba(0, 0, 0, 0) 100%);
  -webkit-mask-image: linear-gradient(to top,
      rgba(0, 0, 0, 0) 0px,
      rgba(0, 0, 0, 1) 8px,
      rgba(0, 0, 0, 1) calc(100% - 8px),
      rgba(0, 0, 0, 0) 100%);
}

.os-theme-custom {
  --os-size: 2px;
  --os-track-width: 2px;
  --os-handle-bg: var(--color-primary);
  --os-handle-bg-hover: var(--color-primary);
  --os-handle-bg-active: var(--color-primary);
  --os-track-bg: transparent;
  --os-handle-border-radius: 2px;
  --os-handle-border-width: 1px solid var(--color-base-white);
  --os-padding-right: 1px;
  --os-handle-right: 1px;
}

.os-scrollbar-vertical {
  height: 90%;
  transform: translateY(5%);
}

.os-scrollbar {
  z-index: 1;
}

.os-scrollbar-handle {
  cursor: pointer;
}

.os-scrollbar-track {
  pointer-events: auto;
}